.jumbotron {
    background-color: initial;
}

#about {
    background: #eee url("../img/unica-black.png") no-repeat bottom right !important;
    border-bottom: 3px solid #e1e1e1;
}

.about {
    /* background-color: rgba(238, 238, 238, 1) !important;
    background-color: #eee;
    */
}

.about.container {
    border-bottom: 5px solid #e1e1e1;
}

/* @media (max-width: 1366px) */
.jumbotron.about {
}

.people .modal {
    position: relative;
    display: block;
    z-index: 0;
}

.modal-header {
    min-height: 60px;
}

.modal-content {
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
}

.modal-dialog {
    margin: 30px auto;
    width: 75%;
}

.modal-content .profile,
.modal-content h4 {
    display: inline-block;
}

.modal-content h4 {
    float: left;
    position: relative;
    top: 4px;
    padding-left: 5px;
}

.modal-content .profile {
    float: right;
    margin-top: -5px;
    width: 40px;
    height: 40px;
    border-radius: 100%
}


/* Counters */
.infos .info {
    padding: 10px;
    text-align: center;
}

.info .relevant {
    font-size: 2em;
}
