.slim.intro-header {
    margin-top: 50px;
}

footer {
    width: 100%;
}

/* Positioning */
.left {
    margin: 10px;
    float: left;
}

/* Fonts */
a.relevant {
    cursor: initial;
}

.big {
    font-size: 2em;
}

div.mdcontent {
	padding: 2em;
}
