#editor {
    position: absolute;
    width: 75%;
    min-height: 20%;
}

/* Long URIs */
td {
    word-break: break-all;
}

div.buttons {
    margin-top: 3em;
}

#output {
    margin-top: 15px;
}

#query-container {
	margin: 32px;
}

#div-instructions {
	margin-top: 16px;
	margin-bottom: 16px;
}
