<h2>People</h2>
<h5>Who made it possible</h5>
<div id="atzori" class="modal">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <img alt="" src="https://raw.githubusercontent.com/atzori/atzori.github.io/master/images/me.jpg" class="profile">
    <h4 class="modal-title">Maurizio Atzori</h4>
    </div>
    <div class="modal-body">
    <p>Maurizio Atzori was born in 1978 in Italy. He
    graduated in Computer Science (Informatica) summa cum laude in
    2002, from the <a href="http://www.unipi.it/">University of Pisa</a>.
    He holds a PhD in Computer Science from the <a href="http://www.di.unipi.it/galilei/">School for Graduate Studies “Galileo Galilei”</a>, University of Pisa, obtained in 2006.
    He has been member of the <a href="http://www.isti.cnr.it/">ISTI-CNR</a>, holding a research fellowship from <a href="http://www.cnr.it/sitocnr/Englishversion/Englishversion.html">CNR</a> of Pisa, and a member of <a href="http://www-kdd.isti.cnr.it/">Knowledge Discovery and Delivery Laboratory</a>.
    He has been visiting scholar at <a href="http://www.cs.purdue.edu/">Purdue University</a> (Indiana, USA), working with Prof. <a href="http://www.cs.purdue.edu/people/clifton">Christopher W. Clifton</a> and his research team.
    He has been visiting resercher working with Prof. <a href="http://people.sabanciuniv.edu/ysaygin/">Yucel Saygin</a> at <a href="http://www.sabanciuniv.edu/mdbf/eng/">Sabanci University</a> (Istanbul, Turkey) and at <a href="http://www.cs.ucla.edu/">UCLA</a>, collaborating with Prof. <a href="http://www.cs.ucla.edu/~zaniolo/">Carlo Zaniolo</a>.
    Since December 2010 he is <em>Assistant Professor</em> (Ricercatore Universitario, Professore Aggregato) at the <a href="http://dipartimenti.unica.it/matematicaeinformatica/">Department of Mathematics and Computer Science</a> of the <a href="http://www.unica.it">University of Cagliari</a> (Italy).
    His major research interests regard database and dataspaces, data mining, knowledge graphs and privacy-preserving algorithms for data management.</p>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default website" href="http://atzori.webofcode.org" target="_blank">Website</a>
        <a class="btn btn-primary mail" href="mailto:atzori@unica.it" target="_blank">Contact</a>
    </div>
    </div>
    </div>
</div>
<div id="davine" class="modal">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <img alt="" src="https://lh3.googleusercontent.com/GtKn2vFEKRRQI5dBFrdtlE4Kx46Tep2fc3T8sM3llqR_zD63RLzTqA4R7_qMb6GMwuw=w1366-h768-rw-no" class="profile">
    <h4 class="modal-title">Mattia Setzu</h4>
    </div>
    <div class="modal-body">
    <p>Mattia Setzu is an undergraduate student at <a href="http://unica.it">UniCA</a>, soon to get a Bachelor CS degree. He's the main developer of <a class="relevant">
    CodeOntology</a>, and a semantic web lover.</p>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default website" href="http://codeontology.org" target="_blank">Website</a>
        <a class="btn btn-primary mail" href="mailto:davine@codeontology.org" target="_blank">Contact</a>
    </div>
    </div>
    </div>
</div>
<div id="mattia" class="modal">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <img alt="" src="public/img/colored-unica.jpg" class="profile">
    <h4 class="modal-title">Mattia Atzeni</h4>
    </div>
    <div class="modal-body">
    <p>Mattia Setzu is an undergraduate student at <a href="http://unica.it">UniCA</a>, soon to get a Bachelor CS degree. He's developing <strong>DocOntology</strong>,
    a tool to mock source code through its structured documentation, allowing CodeOntology to run on a minimal input.</p>
    </div>
    <div class="modal-footer">
        <!-- <a class="btn btn-default website">Website</a> -->
        <a class="btn btn-primary mail" href="mailto:mattia.atzeni@outlook.it" target="_blank">Contact</a>
    </div>
    </div>
    </div>
</div>
