<section id="home">
<!-- Header -->
	<div class="intro-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1>{{ site.title }}</h1>
						<h3>{{ page.title }}</h3>
						<hr class="intro-divider">
						<ul class="list-inline intro-social-buttons">
							<li>
								<a href="#ontology" class="btn btn-default btn-lg"><span class="network-name">Ontology</span></a>
								<a href="#framework" class="btn btn-default btn-lg"><span class="network-name">Parser</span></a>
								<a href="#datasets" class="btn btn-default btn-lg"><span class="network-name">Datasets</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.intro-header -->
</section>
